<header>

<div class="container">
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div>
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nakhon-demo" aria-expanded="false">
            <span class="sr-only">Togggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Koffee Nakhon</a>
        </div>
        <div id="bs-nakhon-demo" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav">
              <li><a href="#">Feedback</a></li>
              <li><a href="#">Chat with me</a></li>
            </ul>
        </div>
      </div>
  </nav>

  <div class="jumbotron" id="content">
    <h1 id="coffee-font"><span class="glyphicon glyphicon-stats" aria-hidden="true" ></span>The coffee waterfall</h1>
  </div>
</header>
