
<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1> Welcome Ploen. This is a test!</h1>
     <p>View the world of Coffee Nakhon</p>
      <p>
        <a href="/new" class="btn btn-primary btn-large">Add New Activity</a>
      </p>
   </div>
  </header>
</div>
