<!DOCTYPE html>
<html>
<head>
  <% include partials/template/head.ejs %>
</head>
  <% include partials/template/header.ejs %>
<body id="<%=pageID %>">
<h1> Coffee shop in Nakhon Nayok</h1>
<p> but it does matter what you think</p>
<p> but it does matter what you think</p>
should be easy to add a template in another template
<p> but it does matter what you think</p>


<script src="/reload/reload.js"></script>
</body>
</html>
