<!DOCTYPE html>
<html>
<head>
  <% include partials/template/head.ejs %>
</head>
<body id="<%=pageID %>">
<% include partials/template/header.ejs %>

<h1> Coffee shop in Nakhon Nayok</h1>

<% if (pageID=='new') { %>
<% include new%>
<% } else {%>
<% include home %>
<% } %>

<%= JSON.stringify(appData.activity); %>

<% include partials/template/jsdefault.ejs %>


</body>
</html>
